:root{
    direction: rtl;
}

header{
    background-color: rgb(52, 186, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}

nav a:hover{
    opacity: 0.7;
}

#icon
{
    display: none;
}

body{
    margin: 0 auto;
    font-family: 'David Libre', serif;
    position: relative;
}

#goToPhone{
    position: absolute;
    height: 1vh;
    top: calc(50% - 0.5vh);
    left: 0;
    font-size: 25px;
}

#divAboutall{
    display: flex;
    background-color: #00ede1;
    padding-right: 10px;
}

#divAbout{
    display: flex;
    flex-direction: column;    
    max-height: 268px;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;
    align-items: baseline;
}

#myImg{
    padding-right: 125px;
}

h2{
    font-family: 'Arimo', sans-serif;
}

#divAbout h2{
    margin: 0;
    margin-right: 10px;
}

#divAbout p{
    margin-bottom: 9px;
    margin-right: 10px;
}

#img{
    width: 250px;
    height: 150px;
    margin-top: 30px;
}

.specialty{
    border: solid #00ffaa;
    background-color: #00ffaa;
}

#idPrj{
    background-color: #42aaf5;
    display: flex;
}
#idPrjDetails{
    display: flex;
    flex-direction: column;
}

#idPrjDetails h2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 23px;
}
#idPrjDetails p{
    margin-top: 0;
    max-width: 450px;
    margin-right: 25px;
}

#prtScImg{
    border-radius: 8%;
    margin-top: 70px;
}

.datePrj{
    font-size: smaller;
}
#FormID{
    background-color: #00ede1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border-color: black;
    width: 125px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#nameSpan{
    margin-top: 20px;
    margin-right: 18px;
    border: black;
    border-bottom-style: solid;
}

#mailSpan{
    border: black;
    border-bottom-style: solid;
}
.inputClass{
    background: transparent;
    border: none;
    outline: none;
}
textarea{
    margin-top: 20px;
    border: solid black;
}
footer{
    text-align: center;
    background-color: rgb(52, 186, 235);
}
@media only screen and ( max-width: 360px){
    #divAboutall
    {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }
    #myImg{
        padding-right: 0;
        text-align: center;
    }
    #idPrj{
        background-color: #42aaf5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #prtScImg{
        border-radius: 8%;
        margin-top: 0;
    }
    textarea{
        width: 20em;
    }
    #icon
    {
        display: block;
        position: absolute;
        left: 21.5em;
    }
    nav
    {
        display: none;
    };
}
