body{
    margin: 0;
    width: 375px;
}

#Mask_Group{
    width: 345px;
    height: 396px;
    margin-left: 15px;
    border-radius: 4px;
    background-image: url(wolf.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#join_community{
    width: 148px;
    height: 14px;
    font-family: Brown;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

#CILASHOP{
    width: 140px;
    height: 14px;
    font-family: Brown;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

#join_community_btn{
    width: 148px;
    height: 50px;
    background: #DB4700;
    border-radius: 6px;
}

#CILASHOP_btn{
    margin-left: 24px;
    margin-top: 170px;
    width: 128px;
    height: 50px;
    background: #DB4700;
    border-radius: 6px;
    margin-right: 21px;
}

#title{
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 47px;
    width: 345px;
    height: 97px;
    font-family: Brown;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 47px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
#help{
    display: none;
}
@media only screen and (min-width: 1920px){
    body{
        margin: 0;
        width: 1920px;
    }

    #Mask_Group{
        width: 1869px;
        height: 738px;
        margin-left: 25px;
        background-image: url(wolf.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    #join_community{
        width: 245px;
        height: 20px;
        font-family: Brown;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    
    #CILASHOP{
        width: 191px;
        height: 20px;
        font-family: Brown;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    
    #join_community_btn{
        width: 245px;
        height: 58px;
        background: #DB4814;
        border-radius: 6px;
    }
    
    #CILASHOP_btn{
        margin-left: 137px;
        margin-top: 0;
        width: 191px;
        height: 58px;
        background: #DB4814;
        border-radius: 6px;
        margin-right: 21px;
    }
    
    #title{
        margin-left: 137px;
        padding-top: 120px;
        width: 1186px;
        height: 182px;
        font-family: Brown;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 94px;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
    #br{
        display: none;
    }
    #help{
        display: block;
        margin-top: 40px;
        margin-left: 137px;
        width: 453px;
        height: 56px;
        font-family: Brown;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        mix-blend-mode: normal;
    }
}
